@use 'sass:string';
@use 'sass:list';

$brand-url: url('@/assets/img/logos/horizon_brand.png');
$logo-white-url: url('@/assets/img/logos/horizon_logo_white.png');
$logo-black-url: url('@/assets/img/logos/horizon_logo_black.png');

@mixin tailwind-color($tailwind-property, $css-prop-name, $tailwind-property-count: 6) {
    // $tailwind-property-list: null;

    @for $i from 0 through $tailwind-property-count {
        $tailwind-property-value: #{$tailwind-property}-#{$i};

        .#{$tailwind-property-value} {
            #{$css-prop-name}: var(--#{$tailwind-property-value}-light);
        }

        :root.dark .#{$tailwind-property-value} {
            #{$css-prop-name}: var(--#{$tailwind-property-value}-dark);
        }

        .#{$tailwind-property-value}-alt {
            #{$css-prop-name}: var(--#{$tailwind-property-value}-dark);
        }

        :root.dark .#{$tailwind-property-value}-alt {
            #{$css-prop-name}: var(--#{$tailwind-property-value}-light);
        }
    }
}

@include tailwind-color('bg', 'background-color');
@include tailwind-color('text', 'color');

.border-bar {
    border-color: #e4e4e7;

    @apply dark:border-black;
}

.brand {
    @apply filter brightness-0 dark:brightness-100;

    background: $brand-url no-repeat 0 0;
    background-size: 100%;
}

.logo {
    background: $logo-black-url no-repeat 0 0;
    background-size: 100%;

    :root.dark & {
        background: $logo-white-url no-repeat 0 0;
        background-size: 100%;
    }
}

.ratio-square {
    position: relative;

    & > div {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &.centered > div {
        @apply text-center;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.ratio-square::before {
    display: block;
    padding-top: 100%; /* initial ratio of 1:1 */
    content: '';
}

.symmetry-x {
    transform: scale(-1, 1);
}
